<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>City Walker API v1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="explications">
        <h1>City Walker API v1</h1>

        <p>Go to /api/v1/resources/tweets</p>

        <p>Add following parameters to the query:</p>

        <ul>
          <li><strong>Required:</strong> query</li>
          <li>Optionnal: limit</li>
          <li>Optionnal: begindate</li>
          <li>Optionnal: enddate</li>
        </ul>
      </div>
    </div>
  </body>
</html>
